<h1>{{title}}</h1>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <input type="text"  placeholder="Enter Email" formControlName="user">
    <span style="color:red;" *ngIf="userInputField && userInputField.invalid && userInputField.touched ">This Field is not valid</span>
      <br><br>
    <input type="password"  placeholder="Enter Password" formControlName="password">
    <span style="color:red;" *ngIf="password && password.invalid && password.touched">Password is not valid</span><br><br>
    <button click="loginUser()">Login</button>
    
</form>