.wrap{
    width: 60%;
    background:rgb(222, 220, 220);
    /* border: 1px solid black; */
    margin: auto;

}
.serch-container{
    margin: 10px 20px;
    text-align: center;

}
input[type=text]{
    width: 240px;
    height: 30px;
    padding: 15px;
    /* border: none; */
    margin-left: 10px;
}