<!-- <app-login></app-login> -->
<!-- <h1>Hello Angular {{title}}</h1>
<button (click)="getName('Shubham','Swami')">Click Me</button><br><br> -->
<!-- <app-get-input-box-value></app-get-input-box-value>  -->
<!-- <app-counter-app></app-counter-app> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-parent></app-parent>  -->
<!-- <app-cto-p-parent></app-cto-p-parent> -->
<!-- <app-ngifexample></app-ngifexample> -->
<!-- <app-multiple-condition-orelseif></app-multiple-condition-orelseif> -->
<!-- <app-ractive-form-ex></app-ractive-form-ex> -->
<!-- <app-template-drivan-ex></app-template-drivan-ex> -->
<!-- <app-reactive-form-second-ex></app-reactive-form-second-ex> -->
<!-- <app-switchcaseex></app-switchcaseex> -->
<!-- <app-loopsex></app-loopsex> -->
<!-- <app-nested-loop></app-nested-loop> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-toggle-ex></app-toggle-ex> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-courses></app-courses> -->

<!-- <h1>Routing</h1>
<a routerLink="">Home</a><br>
<a routerLink="about">About</a><br>
<a routerLink="contact">Contact</a><br>
<a routerLink="xyz">PageNotFound</a>
<br>
<br>
<a routerLink="user/20">Anil</a><br>
<a routerLink="user/30">Sam</a><br>
<a routerLink="user/40">Bhise</a> -->

<!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer> -->
<!-- <app-fetch-api></app-fetch-api> -->
<!-- <app-post-api-method></app-post-api-method> -->


<!-- // UsersModule     
<a routerLink="login">Login</a><br>
<a routerLink="signup">SingUp</a>
<router-outlet></router-outlet> -->

<!-- <h1>Routing Module Admin </h1>
<ul>
    <li><a routerLink="admin/login">Admin Login</a></li>
    <li><a routerLink="admin/list">Admin List</a></li>
</ul>

<h1>Group Routing Module Admin </h1>
<ul>
    <li><a routerLink="group/login">Group Routing Login</a></li>
    <li><a routerLink="group/list">Group Routing List</a></li>
</ul>
<router-outlet></router-outlet> -->

<!-- <h1>Lazy Loading in angular - it load routerlink when required not on onload of project</h1>
<ul>
    <li><a routerLink="admin/login">Admin Login</a></li>
    <li><a routerLink="admin/list">Admin List</a></li>
</ul>

<ul>
    <li><a routerLink="lazy/login">Lazy Login</a></li>
    <li><a routerLink="lazy/list">Lazy List</a></li>
</ul>
<router-outlet></router-outlet> -->

<!-- <h1>Lazy Loading Component in angular</h1>
<button (click)="loadAdmin()">Load Admin List</button>
<button (click)="loadUser()">Load User List</button> -->

<!-- Parent To Child Data Passing ( Use @Input() ) -->
<!-- <app-parent-comp></app-parent-comp> -->


<!-- Pipes In Angular  -->
<!-- <h1>{{ today | lowercase }}</h1>
<h1>{{ today | uppercase }}</h1>
<h3>{{ today | slice : 3   : 6  | uppercase}}</h3> -->
                <!-- start : end    we can use two pipes at the same time-->
<!-- Date Pipe   -->
<h1>{{ todayData | date }}</h1>
<h3>{{ todayData | date:'dd/MM/yyyy'}}</h3>
<h3>{{ todayData | date:'dd-MM-yyyy'}}</h3>
<h3>{{ todayData | date:'MM/dd/YYYY'}}</h3>
<h3>{{ todayData | date:'fullDate'}}</h3>
<h4>{{ todayData | date:'shortTime'}}</h4>
<h3>{{ todayData | date:'medium' : '+00000'}}</h3>
<h3>{{ todayData | date:'shortTime' : '+05000'}}</h3>
<h3>{{ todayData | date:'short' }}</h3>
<!-- Currency Pipe -->
<h2>{{ value | currency:'INR' }}</h2>
<h3>{{ title | slice:2:3}}</h3> 
<!-- JSON pipe  -->
<h3>{{ user | json | uppercase }}</h3>

<!-- Number Pipe -->

<!-- Custome Pipe  -->
<!-- <h3 style="text-decoration:underline">Custom Pipe</h3>
<h4>{{ 20 | usdToInr : 70 :5 }}</h4> -->

<!-- Custom Directive  -->
<!-- <div appHoverDirective>
   Hover over this div to see the effect!
</div>
<br>
<label><b>Enter Numeric Value : </b></label>
<input type="text" value="" appValidationDirective placeholder="Only Alphanumeric Characters Allowed" /> -->


<!-- <app-infinite-scroll></app-infinite-scroll> -->